[submodule "packages/country-continent"]
	path = packages/country-continent
	url = https://github.com/BRIXTOL/country-continent
[submodule "packages/country-names"]
	path = packages/country-names
	url = https://github.com/BRIXTOL/country-names
[submodule "packages/country-codes"]
	path = packages/currency-codes
	url = https://github.com/BRIXTOL/currency-codes
[submodule "packages/currency-placements"]
	path = packages/currency-placements
	url = https://github.com/BRIXTOL/currency-symbol-placements
[submodule "packages/currency-symbols"]
	path = packages/currency-symbols
	url = https://github.com/BRIXTOL/currency-symbols
