[submodule "packages/country-names"]
	path = packages/country-names
	url = https://github.com/BRIXTOL/country-names
[submodule "packages/country-names"]
	path = packages/currency-codes
	url = https://github.com/BRIXTOL/currency-codes
[submodule "packages/currency-placements"]
	path = packages/currency-codes
	url = https://github.com/BRIXTOL/currency-placements
[submodule "packages/country-symbols"]
	path = packages/currency-codes
	url = https://github.com/BRIXTOL/currency-symbols
